<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Home</title>
		<div th:replace="fragments/head.html :: fragment-head"></div>
	</head>

	<body>
		<div class="page-wrap" id="root">

			<!-- header -->
			<div th:replace="/fragments/header.html :: fragment-header"></div>
			<!-- End / header -->

			<!-- Content-->
			<div class="wil-content">

				<!-- Section -->
				<section class="awe-section">
					<div class="container">

						<!-- page-title -->
						<div class="page-title">
							<h2 class="page-title__title">Hello, my.getName() is Kwanwoo Lee.<br>
								<!-- typing__module -->
								<div class="typing__module">
									<div class="typed-strings">
										<span>You can call me. "Kenneth"</span>
										<span>I'm a full stack developer.</span>
										<span>I do creative.</span>
										<span>I work very well!</span>
										<span>I want to be your friend.</span>
										<span>Please, contact me.</span>
									</div><span class="typed"></span>
								</div><!-- End / typing__module -->

							</h2>
							<p class="page-title__text"></p>
							<div class="page-title__divider"></div>
						</div><!-- End / page-title -->

					</div>
				</section>
				<!-- End / Section -->




			</div>
			<!-- End / Content-->

			<!-- Footer -->
			<div th:replace="/fragments/footer.html :: fragment-footer"></div>
			<!-- End / Footer -->

		</div>
	</body>
</html>